body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    /* background-color: teal; */
    /* color: white; */
    display: flex;
    width: 800px;
    justify-content: space-evenly;
}